.consolePage {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.heading {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #FFF;
  text-align: center;
  font-family: 'Pixelated', 'Press Start 2P', cursive;
}

.description {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5;
  background-color: #646464;
  padding: 10px;
  border-radius: 8px;
}

.released {
  color: #000;
  font-size: 15px;
}

.gameList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.gameCardLink {
  text-decoration: none;
}

.gameCard {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  height: 300px;
}

.gameCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.gameCard h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}

.gameImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.loading,
.error {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.loadMoreButton {
  text-align: center;
  margin-top: 20px;
}

.loadMoreButton button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loadMoreButton button:hover {
  background-color: #45a049;
}

.backButton {
  margin-bottom: 20px; /* Отступ сверху, чтобы кнопка не была прижата к верхней части */
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.backButton a {
  color: white;
  text-decoration: none;
}