.consolePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 50px 100px;
  gap: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.heading {
  font-size: 1.2rem;
  color: #FFF;
  text-align: center;
  font-family: 'Pixelated', 'Press Start 2P', cursive;
}

.description {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  background-color: #646464;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
}

.released {
  color: #000;
  font-size: 15px;
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start; 
}

.gameCardLink {
  text-decoration: none;
}

.gameCard {
  background-color: #d3d3d3;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 3px solid #333;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  justify-content: flex-start;
}

.gameCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.gameCard h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}

.gameImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.loading,
.error {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.loadMoreButton {
  text-align: center;
  margin-top: 20px;
}

.loadMoreButton button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin-top: 20px;
  font-family: 'Pixelated', 'Press Start 2P', cursive;
}

.backButton a {
  color: white;
  text-decoration: none;
}

.backButton a:hover {
  color: white;
}