.developerCard {
  background-color: transparent;
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  justify-content: flex-start;
}

.developerCard:hover {
  transform: scale(1.05);
}

.developerCardImg {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.description {
  background-color: #282828;
  width: 100%;
  height: 60px;
}

.description h3 {
  color: #fff;
}