.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 50px 100px;
  gap: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 12px;
  background: #f9f9f9;
  transition: all 0.3s ease;
  gap: 30px;
}

.item:hover {
  background: #f1f1f1;
  transform: translateY(-5px);
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.status {
  font-size: 14px;
  color: #888;
}

.removeButton {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.removeButton:hover {
  color: darkred;
}

.empty {
  padding: 30px;
  text-align: center;
  color: #888;
  font-size: 18px;
}
