.searchPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 150px 50px;
  gap: 20px;
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.searchInput {
  padding: 20px 12px;
  font-size: 26px;
  border: none;
  border-radius: 20px;
  width: 400px;
  height: auto;
  background-color: transparent;
  color: #fff;
  font-family: 'Pixelated', 'Press Start 2P', cursive;
  text-align: center;
  border: 2px solid #FFF;
}

input::placeholder {
  font-family: 'Pixelated', 'Press Start 2P', cursive;
  font-size: 16px; 
  color: #777; 
}

.searchInput::placeholder {
  color: #fff;
}

.searchInput:focus {
  border: 2px solid var(--secondary-color);
}

p {
  font-family: 'Pixelated', 'Press Start 2P', cursive;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 100px;
  color: #fff;
}