.genresPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 150px 50px;
  gap: 20px;
}

.genresList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start; 
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}


.heading {
  font-size: 24px;
  color: #fff;
}
