.creatorCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
    width: 300px;
}

.creatorCardImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.creatorCard h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}