.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: flex-end;
  gap: 300px;
  background-color: #333;
}
.searchInput {
  padding: 20px 12px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: 250px;
}

.searchInput::placeholder {
  color: #fff;
}

.searchInput:focus {
  border: 2px solid var(--secondary-color);
}
