.header {
  /* position: fixed; */
  top: 0;
  right: 10px;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: transparent;
  align-items: center;
}
.searchInput {
  padding: 20px 12px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  width: 250px;
  height: 100%;
}

.searchInput::placeholder {
  color: #fff;
}

.searchInput:focus {
  border: 2px solid var(--secondary-color);
}
