.welcomeScreen {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.welcomeImage {
  flex: 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.arrowButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.arrowButton:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  background-color: transparent;
  color: #fff;
}

.arrowButton img {
  width: 100px; 
  height: 100px;
  transition: transform 0.3s ease;
}

.arrowButton:hover img {
  transform: rotate(15deg);
}

.loginPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 150, 255, 0.6);
}

input::placeholder {
  color: #aaa;
}

.loginForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceTitle {
  color: black;
  font-size: 48px;
  margin-right: 20px;
}

.ctaBlock {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
}
