* {
  box-sizing: border-box;
  font-family: "Pixelated", "Press Start 2P", cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: url("./assets/background/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

button:hover {
  background-color: #069325;
}
