.homePage {
  padding-left: 220px;
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage h1 {
  font-size: 2rem;
}

.homePage p {
  font-size: 1.2rem;
  color: #fff;
}

.banner {
  text-align: center;
  margin: 20px auto;
  max-width: 100%;
  width: 800px;
  height: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Увеличенная тень для эффекта монитора */
  overflow: hidden;
  border: 20px solid #000; /* Утолщенная рамка */
  background-color: #000; /* Черный фон для экрана */
  border-radius: 15px; /* Закругленные углы */
  position: relative; /* Для работы с псевдоэлементами */
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заполнение изображения */
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

/* Элементы для имитации монитора */
.banner:before {
  content: "";
  position: absolute;
  top: -5px; /* Небольшой отступ от верхней грани */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 15px;
  background-color: #444; /* Темно-серый цвет для верхней полосы */
  border-radius: 8px;
  z-index: 0;
}

.banner:after {
  content: "";
  position: absolute;
  bottom: -5px; /* Небольшой отступ от нижней грани */
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 10px;
  background-color: #444; /* Темно-серый цвет для нижней полосы */
  border-radius: 8px;
  z-index: 0;
}

.tablesWrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.popularGames,
.popularPlatforms {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #616161;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popularGames h2,
.popularPlatforms h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.gameTable {
  width: 500px;
  border-collapse: collapse;
}

.gameTable th,
.gameTable td {
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
}

.gameTable tr:hover {
  background-color: #333;
  cursor: pointer;
}

.gameThumbnail {
  height: 45px;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
}
